<% html_title l(:regression_test) %>
<div style="font-size:11pt;font-weight:bolder"><%= breadcrumbs_link %></div>
<%=(h @category.comment).gsub(/\r\n|\r|\n/){"<br />"} %>
<hr />
<%= render :partial=>"test_cases",:locals=>{:test_cases=>@category.regression_test_cases}%>
<hr />
<%= link_to "New Test Case",:action=>"new_case",:category_id=>@category%> | 
<%= link_to "Sort",:action=>"sort_case",:id=>@category%> | 
<%= link_to "Back",:action=>"index"%>
